<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>kfc</name>
        <version>2.5.1</version>
        <author>kfc contributors</author>
        <id>kfc</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
